<app-barra-navegacion-sesion-iniciada></app-barra-navegacion-sesion-iniciada>
<div id="contenedor">
  <div id="cabecera">
    <p>Consumo de agua</p>
  </div>
  <div id="menu">
    <ul>
      <li>Consumido</li>
      <table style=" border: 1px solid #000;">
        <tr>
          <td>
            ID:
          </td>
          <td>
            Cuenta:
          </td>
        </tr>
        <tr>
          <td>Listros</td>
        </tr>
      </table>
    </ul>
    <div id="contenido">
      <h1>Sensor de Agua</h1>
      <img src="../../assets/imagenes/Icono_SensorAgua.png" alt="" width="200" height="185">
    </div>
    <div id="contenido2">
      <p>Litros contados</p>
      <label *ngFor="let C of consumo" style="font-size: xx-large; color: blue; font-weight: bold">
        {{C.flujo}}
      </label>
    </div>
    <div id="pie">
      <p>Párrafo en el pie de la página.</p>
    </div>
  </div>
  <div class="espacio1"></div>
</div>
<div class="espacio"></div>