<div class="wrapper">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card border-primary">
            <div class="card-header bg-primary text-white">
              Recuperar contraseña
            </div>
            <div class="card-body bg-semi-transparent">
              <form>
                <div class="form-group">
                  <label for="email">Correo electrónico</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary">Enviar correo</button>
                <button type="submit" class="btn btn-primary" routerLink="/login">Volver</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  